
/* *{
    padding: 0;
    margin: 0;
} */
body{
    font-family: 'Raleway', sans-serif;  
}
h1{
    color: violet;
    height: 20px;
    
    
}
h2{
    color: rgb(97, 21, 87);
    font-size: 50px;
    margin-left: 25%;
    
    
}

li {
    color: rgb(230, 92, 115);
    margin: 50px;
    
}
footer {
    
    position: relative;
    bottom: 0;
    width: 100%;
    height: 25%;  
    text-align: center;
    line-height: 300%;
    color: rgb(10, 63, 0);
}
 img{
    height: 25px;
    bottom: auto;
    
} 
.santaCeia {
    height: 500px;
    text-align: center; 
    
}

